# 
# （0300_【htaccess】htaccessを使った設定）
# この章では、「.htaccess」を実際に作って挙動を確認する！！

# 前提条件として、<Directory "C:\MAMP\htdocs">のAllowOverride All（有効）になっていることが条件。
# これにより「.htaccess」を使うことができる。

# この下の2行は「.htaccess」のコンテキストの中で、
# 使用できるディレクトリになる。

DirectoryIndex file1.html
# Options -Indexes

# 301は省略可能！ /redirect-testはURLに相当する。
# Redirectを使った記述の場合には、URLのドメインより後は全て記載する必要がある。
# 最後の一文の/apacheはリダイレクトの転送先ということになる！
# ココは外部サイトも指定することができる。
# Redirect 301 /apache/redirect-test /apache

# 以下の301、302でどの様な違いが出てくるのか確認する
# 302、一時的なリダイレクトの処理
# Redirect 302 /apache/file1 /apache/dir-test/file2.html

# 301、永続的なリダイレクトの処理
Redirect 301 /apache/file1 /apache/dir-test/file1.html